.card{
    width: 350px;
    margin: 30px;
    padding: 15px;
/*    background-color: aqua; */
    box-shadow: 0 0 10px black;
    text-align: center;
}
.card button{
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 15px;
}